<h3>
  Edit <%= @user.name %>
</h3>

<%= form_tag user_path, :method => "put" do %>
  <input type="text" name="user[name]" value="<%= @user.name %>">
  <input type="text" name="user[email]" value="<%= @user.email %>">
  <input type="password" name="user[password]" placeholder="change password?">
  <input type="submit" value="Edit this user">
<% end %>